.admin-theme {
  --bs-primary: #8CBE23;
  --bs-secondary: #bed481 ;
  --bs-dark: #3B672C;
  
  --bs-light-primary: #D4E2AD;
  --bs-dark-primary: #5DA331;

  --bs-light-secondary:#d4e2ad;
  --bs-dark-secondary: #A5C756;

  --bs-primary-rgb: 140, 190, 35;
  --bs-dark-rgb: 59, 103, 44;
  --bs-light-primary-rgb: 212, 226, 173;
  --bs-light-dark-rgb: 209, 207, 216;
  --bs-dark-primary-rgb: 93, 163, 49;
 
  --bs-body-color: #6f8049;
  --bs-heading-color: #3B672C;
  --bs-link-color: #8CBE23;
  --bs-link-hover-color: #5DA331;
}
.contratista-theme{
  --bs-primary:  #7c5915;
  --bs-secondary: #f8c35d;
  --bs-dark: #fab625;
  
  --bs-light-primary: #f3daa8;
  --bs-dark-primary: #3b2c17;

  --bs-light-secondary:#f9d287;
  --bs-dark-secondary: #e0a322;

  --bs-primary-rgb: 124, 89, 21;
  --bs-dark-rgb: 250, 182, 37;
  --bs-light-primary-rgb: 208, 189, 163;
  --bs-light-dark-rgb: 209, 207, 216;
  --bs-dark-primary-rgb: 59, 44, 23;

  --bs-body-color: #897253;
  --bs-heading-color: #3b2c17;;
  --bs-link-color:#7c5915 ;
  --bs-link-hover-color: #3b2c17;
}
.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-dark-primary);
  --bs-btn-hover-border-color: var(--bs-dark-primary);
  --bs-btn-focus-shadow-rgb:var(--bs-light-primary);
  --bs-btn-active-bg: var(--bs-dark-primary);
  --bs-btn-active-border-color: var(--bs-dark-primary);
  --bs-btn-disabled-bg: var(--bs-primary);
  --bs-btn-disabled-border-color: var(--bs-primary);
}
.btn-secondary {
  --bs-btn-bg: var(--bs-secondary);
  --bs-btn-border-color: var(--bs-secondary);
  --bs-btn-hover-bg: var(--bs-dark-secondary);
  --bs-btn-hover-border-color: var(--bs-dark-secondary);
  --bs-btn-focus-shadow-rgb: 141, 138, 160;
  --bs-btn-active-bg: var(--bs-dark-secondary);
  --bs-btn-active-border-color: var(--bs-dark-secondary);
  --bs-btn-disabled-bg: var(--bs-secondary);
  --bs-btn-disabled-border-color: var(--bs-secondary);
}
.btn-dark-primary {
  --bs-btn-bg: var(--bs-dark-primary);
  --bs-btn-border-color: var(--bs-dark-primary);
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-focus-shadow-rgb: 114, 89, 202;
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-disabled-bg: var(--bs-dark-primary);
  --bs-btn-disabled-border-color: var(--bs-dark-primary);
}
.btn-outline-primary {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--bs-primary);;
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-focus-shadow-rgb: 117, 79, 254;
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-disabled-color: var(--bs-primary);
}
.btn-outline-secondary {
  --bs-btn-color: var(--bs-secondary);
  --bs-btn-border-color: var(--bs-secondary);
  --bs-btn-hover-bg: var(--bs-secondary);
  --bs-btn-hover-border-color: var(--bs-secondary);
  --bs-btn-focus-shadow-rgb: 121, 117, 143;
  --bs-btn-active-bg: var(--bs-secondary);
  --bs-btn-active-border-color: var(--bs-secondary);
  --bs-btn-disabled-color: var(--bs-secondary);
}
.form-control-plaintext {
  color: var(--bs-body-color);
}
.pagination {
  --bs-pagination-color: var( --bs-body-color);
  --bs-pagination-hover-bg: var(--bs-primary);
  --bs-pagination-hover-bg: var(--bs-primary);
  --bs-pagination-hover-border-color: var(--bs-primary);
  --bs-pagination-active-bg: var(--bs-primary);;
  --bs-pagination-active-border-color: var(--bs-primary);;
}

.progress {
  --bs-progress-bar-bg: var(--bs-body-color);
}

.list-group {
  --bs-list-group-color: var(--bs-body-color);;
  --bs-list-group-border-color: #ecebf1;
  --bs-list-group-action-color: var(--bs-body-color);;
  --bs-list-group-action-hover-color: var(--bs-body-color);;
  --bs-list-group-action-hover-bg: #f5f4f8;
  --bs-list-group-action-active-color: var(--bs-body-color);;
  --bs-list-group-action-active-bg: #ecebf1;
  --bs-list-group-disabled-color: #79758f;
  --bs-list-group-active-bg: var(--bs-primary);
  --bs-list-group-active-border-color: var(--bs-primary);
}

.link-primary {
  color: var(--bs-primary) !important;
}
.border-primary {
  border-color: var(--bs-primary) !important;
}
.avatar-primary .avatar-initials {
  background-color: var(--bs-primary);
}
.avatar-primary-soft .avatar-initials {
  background-color: #e3dcff;
  color: var(--bs-primary);
}.btn-play {
  color: var(--bs-primary);
}
.btn-play:hover {
  background-color: var(--bs-primary);
}
.dropdown.active.show .btn-icon {
  background-color: #e3dcff;
  color: var(--bs-primary) !important;
}
.primary-hover:focus,
.primary-hover:hover {
  background-color: var(--bs-primary);
  border: var(--bs-primary);
}
.primary-hover.active {
  background-color: var(--bs-primary);
  border: var(--bs-primary);
}
.btn-dashed:hover {
  border-color: var(--bs-primary) !important;
  color: var(--bs-primary) !important;
}
.navbar .navbar-toggler {
  border: 1px solid var(--bs-primary);
}
.navbar .navbar-toggler .icon-bar {
  background-color: var(--bs-primary);
}
.navbar .navbar-toggler .top-bar {
  background-color: var(--bs-primary);
}.navbar .navbar-toggler .bottom-bar {
  background-color: var(--bs-primary);
}.navbar .navbar-toggler.collapsed .top-bar {
  background-color: var(--bs-primary);
}.navbar .navbar-toggler.collapsed .bottom-bar {
  background-color: var(--bs-primary);
}.navbar-default .navbar-nav .nav-item .nav-link:hover {
  color: var(--bs-primary);
}.navbar-vertical .navbar-nav .nav .nav-item .nav-link:hover {
  color: var(--bs-light-primary);
}
.navbar-vertical .navbar-nav .nav-item .nav-link:hover {
 color: var(--bs-light-primary);
}
.nav-footer .nav-link:hover {
  color: var(--bs-primary);
}.text-link:hover {
  color: var(--bs-primary);
}
.nav-lb-tab .nav-item .nav-link.active,
.nav-lb-tab .nav-item .nav-link:hover {
  border-bottom: 2px solid var(--bs-primary);
  color: var(--bs-primary);
}.nav-lt-tab .nav-item .nav-link.active,
.nav-lt-tab .nav-item .nav-link:hover {
  background-color: transparent;
  border-top: 2px solid var(--bs-primary);
  color: var(--bs-primary);
}.flush-nav .nav .nav-link.active,
.flush-nav .nav .nav-link:hover {
  color: var(--bs-primary);
}.nav-line-bottom .nav-item .nav-link.active {
  border-bottom: 1px solid var(--bs-primary);
  color: var(--bs-primary);
}.nav-line-bottom .nav-item .nav-link:hover {
  border-bottom: 1px solid var(--bs-primary);
  color: var(--bs-primary);
}.nav-top-line-tab.nav .nav-item .nav-link.active {
  border-top: 1px solid var(--bs-primary);
  color: var(--bs-primary);
}.nav-top-line-tab.nav .nav-item .nav-link:hover {
  border-top: 1px solid var(--bs-primary);
  color: var(--bs-primary);
}.nav.btn-group .btn-outline-white.active {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}.dropdown-item.active {
  color: var(--bs-primary);
}.dropdown-item:focus {
  border-radius: 0;
  color: var(--bs-primary);
}
.dropdown-item:focus .dropdown-toggle:after {
  color: var(--bs-primary);
}
.dropdown-item:focus:hover {
  color: var(--bs-primary);
}.sidebar-nav-fixed ul li a:hover {
  color: var(--bs-primary);
}.sidebar-nav-fixed ul li a.active {
  border-left-color: var(--bs-primary);
  color: var(--bs-primary);
}.indicator-primary.indicator:before {
  background-color: var(--bs-primary);
}.accordion-flush a[aria-expanded="true"] {
  color: var(--bs-primary);
}.actions-mail span:hover {
  color: var(--bs-primary);
}.list-group-hover:focus .list-group-title,
.list-group-hover:hover .list-group-title {
  color: var(--bs-primary);
}.flatpickr-months .flatpickr-prev-month:hover svg {
  fill: var(--bs-primary);
}.flatpickr-months .flatpickr-next-month:hover svg {
  fill: var(--bs-primary);
}.flatpickr-day.today {
  color: var(--bs-primary);
}
.flatpickr-day.endRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.endRange.nextMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.endRange:focus,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected,
.flatpickr-day.selected.inRange,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.selected:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.startRange:focus,
.flatpickr-day.startRange:hover {
  background: var(--bs-primary);
  border-color: var(--bs-primary);
}.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n + 1)) {
  box-shadow: -10px 0 0 var(--bs-primary);
}.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n + 1)) {
  box-shadow: -10px 0 0 var(--bs-primary);
}.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n + 1)) {
  box-shadow: -10px 0 0 var(--bs-primary);
}.flatpickr-day.week.selected {
  border-radius: 0;
  box-shadow: -5px 0 0 var(--bs-primary), 5px 0 0 var(--bs-primary);
}.ql-editor .ql-bg-blue {
  background-color: var(--bs-primary);
}.ql-editor .ql-color-blue {
  color: var(--bs-primary);
}.ql-snow.ql-toolbar button:hover {
  color: var(--bs-primary);
}
.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill {
  fill: var(--bs-primary);
}
.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter {
  stroke: var(--bs-primary);
}
.ql-snow.ql-toolbar button:focus {
  color: var(--bs-primary);
}.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill {
  fill: var(--bs-primary);
}
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter {
  stroke: var(--bs-primary);
}
.ql-snow.ql-toolbar button.ql-active {
  color: var(--bs-primary);
}
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill {
  fill: var(--bs-primary);
}
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter {
  stroke: var(--bs-primary);
}
.ql-snow.ql-toolbar .ql-picker-label:hover {
  color: var(--bs-primary);
}
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill {
  fill: var(--bs-primary);
}
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter {
  stroke: var(--bs-primary);
}
.ql-snow.ql-toolbar .ql-picker-label.ql-active {
  color: var(--bs-primary);
}
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill {
  fill: var(--bs-primary);
}
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter {
  stroke: var(--bs-primary);
}
.ql-snow.ql-toolbar .ql-picker-item:hover {
  color: var(--bs-primary);
}
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill {
  fill: var(--bs-primary);
}
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter {
  stroke: var(--bs-primary);
}
.ql-snow.ql-toolbar .ql-picker-item.ql-selected {
  color: var(--bs-primary);
}
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: var(--bs-primary);
}
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: var(--bs-primary);
}
.ql-snow a {
  color: var(--bs-primary);
}.bs-stepper .step-trigger:focus {
  color: var(--bs-primary);
}.bs-stepper .step-trigger:hover {
  color: var(--bs-primary);
}.active .bs-stepper-circle {
  background-color: var(--bs-primary);
}.controls li.prev:hover {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}
.controls li.next:hover {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}.thumbnails .tns-nav-active .thumbnails-img {
  border: 2px solid var(--bs-primary);
}.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}.fc-h-event {
  background-color: var(--bs-primary);
  border: 1px solid var(--bs-primary);
}.fc-v-event {
  background-color: var(--bs-primary);
  border: 1px solid var(--bs-primary);
}.fc .fc-list-event-dot {
  border: 5px solid var(--bs-primary);
}.noUi-connect {
  background: var(--bs-primary);
}
.noUi-tooltip {
  background-color: var(--bs-primary);
}.img-overlay .img-color {
  background-color: var(--bs-primary);
}.process-line:before {
  border-bottom: 2px solid var(--bs-primary);
}.active .step-line:after {
  background-color: var(--bs-primary);
}
.form-check-input:checked {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}.form-check-input:focus {
  border-color: var(--bs-primary);
}.form-check-input[type="checkbox"]:indeterminate {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}.form-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: var(--bs-primary);
}
.form-range::-moz-range-thumb {
  background-color: var(--bs-primary);
}
.form-control:focus {
  border-color: var(--bs-primary);
    box-shadow: 0 0 0 3px rgba(var(--bs-primary-rgb), 0.25);
}
.form-select:focus {
  border-color: var(--bs-primary);
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.25);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--bs-primary);
  
}
.navbar-light .navbar-nav .nav-item .nav-link.active,
.navbar-light .navbar-nav .nav-item .nav-link:hover {
  color: var(--bs-dark) !important;
}

.navbar-vertical .navbar-nav .nav-item .nav-link.active {
  color: var(--bs-light-primary) !important;
}
